Source: ros-hydro-learning-actionlib
Section: misc
Priority: extra
Maintainer: "Isao Isaac Saito <iisaito@kinugarage.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-actionlib, ros-hydro-actionlib-msgs, ros-hydro-catkin, ros-hydro-message-generation, ros-hydro-roscpp, ros-hydro-std-msgs
Homepage: http://www.ros.org/wiki/actionlib/Tutorials
Standards-Version: 3.9.2

Package: ros-hydro-learning-actionlib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-actionlib, ros-hydro-message-generation, ros-hydro-roscpp
Description: The learning_actionlib package
